# Generated content
rubydin/build
rubydin/*.gem
rubydin-optional/*/*.gem
rubydin-addons/*/*.gem
rubydin/lib/rubydin-*.jar

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
atlassian-ide-plugin.xml

# Sublime
*.sublime-workspace
